JWT_SECRET=
JWT_EXPIRES_IN=
PORT=
NODE_ENV=

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=



DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=



FlightAPI_KEY=


APP_BASE_URL=
FRONTEND_BASE_URL=


Store_ID=
Store_Secret_Key=
SSLCOMMERZ_LIVE=

GROQ_API_KEY=